<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<div class="wrap">
<!--    header-->
    <header th:replace="fragments.html :: main-nav" class="header"></header>
<!--    header-->

    <section>
        <div th:if="${account != null && !account.emailVerified}">
            와니스터디 가입을 완료하려면. <a th:href="@{/check-email}">계정 인증 이메일을 확인</a>하세요.
        </div>
        <h1>와니스터디</h1>
    </section>

<!--    footer-->
    <footer th:replace="fragments.html :: footer"></footer>
<!--    footer-->

</div>
</html>