<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<div class="wrap">
    <!--    header-->
    <header th:replace="fragments.html :: main-nav" class="header"></header>
    <!--    header-->

    <section>
        <h1>와니스터디</h1>
        <form action="#" method="post" th:action="@{/login}">
            <fieldset>
                <legend>
                    <h2>로그인 폼</h2>
                </legend>
                <div th:if="${param.error}">
                    <p>이메일(또는 닉네임)과 패스워드가 일치하지 않습니다.</p>
                    <p>
                        <a th:href="@{/findPassword}">비밀번호를 잊어버렸습니다.</a>
                    </p>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me" checked>
                    <label class="form-check-label" for="rememberMe" aria-describedby="rememberMeHelp">로그인 유지</label>
                </div>

                <div class="form-group">
                    <label for="username">이메일 또는 닉네임</label>
                    <input id="username" type="text" name="username" class="form-control"
                           placeholder="your@email.com" aria-describedby="emailHelp" required>
                    <small id="emailHelp" class="form-text text-muted">
                        가입할 때 사용한 이메일 또는 닉네임을 입력하세요.
                    </small>
                    <small class="invalid-feedback">이메일을 입력하세요.</small>
                </div>
                <div class="form-group">
                    <label for="password">패스워드</label>
                    <input id="password" type="password" name="password" class="form-control"
                           aria-describedby="passwordHelp" required>
                    <small id="passwordHelp" class="form-text text-muted">
                        패스워드가 기억나지 않는다면, <a href="#" th:href="@{/email-login}">패스워드 없이 로그인하기</a>
                    </small>
                    <small class="invalid-feedback">패스워드를 입력하세요.</small>
                </div>

                <button class="form-group btn btn-primary btn-block" type="submit" aria-describedby="submitHelp">로그인</button>
            </fieldset>
        </form>
    </section>

    <!--    footer-->
    <footer th:replace="fragments.html :: footer"></footer>
    <!--    footer-->

</div>
</html>